
nav a {
    font-family: 'Hammersmith One', sans-serif;
}


/*--------------------------------- Main Navigation*/

.navbar-colour {
    background-color: #2D3039;
}

.logo {
    color: #EEEEEE;
}

.nav-link-colour {
    color: #EEEEEE;
}

.nav-link {
    margin-right: 20px;
}

.nav-link-colour:hover {
    color: #113B92;
}

nav img {
    margin-right:10px;
}

/*--------------------------------- Header*/



/*--------------------------------- Footer*/

footer {
    background-color: #2D3039;
    height: 50px;
    margin-top: 50px;
}

.github-link {
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
}

.github-link li a i {
    font-size: 20px;
}


/*--------------------------------- Top section*/

.top-stats {
    background-color: #EEEEEE;
    padding-top: 10px;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    color: #2070B0;
}

/*--------------------------------- Pies and donut section*/

.pie-donut-section {
   background-color: #EEEEEE;
    padding-top: 10px;
    margin-top: 30px;
    margin-right: 10px;
    margin-left: 10px;
    color: #2070B0; 
}

/*--------------------------------- Incidents by borough section*/

.borough-incidents-barchart {
    margin-top: 50px;
    background-color: #EEEEEE;
    
}

.vehicle-type-rowchart {
    margin-top: 50px;
    background-color: #EEEEEE;
    
}



/*--------------------------------- Media queries*/

