body {
    background-image: url(../images/asphalt_background_dark1.png);
    font-family: 'Cabin', sans-serif;
}

h4 {
    font-family: 'Hammersmith One' , sans-serif;
}


/*--------------------------------- Main Navigation*/

.navbar-colour {
    background-color: rgba(45, 48, 57, 0.7);
}

.logo {
    color: #EEEEEE;
}

.nav-link-colour {
    color: #EEEEEE;
}

.nav-link {
    margin-right: 20px;
}

.nav-link-colour:hover {
    color: #113B92;
}

nav img {
    margin-right:10px;
}

/*--------------------------------- Header*/

/*--------------------------------- Intro*/
.intro {
    background-color: #EEEEEE;
    color: #113B92;
    padding: 10px;
    margin-top: 50px;
    box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.80);
    max-width: 80%;
}

/*--------------------------------- Footer*/

footer {
    background-color: #2D3039;
    height: 50px;
    margin-top: 50px;
}

.github-link {
    text-align: center;
    margin: 0 auto;
    padding-top: 15px;
}

.github-link li a i {
    font-size: 20px;
}


/*--------------------------------- Top section*/

.top-stats {
    background-color: #EEEEEE;
    padding-top: 10px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    color: #113B92;
    box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.80);
    
}

.num-display {
    font-size: 2em;
}

/*--------------------------------- Pies and donut section*/

.pie-donut-section {
    background-color: #EEEEEE;
    padding-top: 10px;
    margin-top: 30px;
    margin-right: 20px;
    margin-left: 20px;
    color: #113B92;
    box-shadow: 10px 10px 4px 0px rgba(0,0,0,0.80);
    
}

/*--------------------------------- Incidents by borough section*/

.borough-incidents-barchart {
    margin-top: 50px;
    background-color: #EEEEEE;
    
}

.vehicle-type-rowchart {
    margin-top: 50px;
    background-color: #EEEEEE;
    
}



/*--------------------------------- Media queries*/

